<a href="/community/preview/<%- id %>" id="edit-action-<%- id %>" class="flex bg-lighter-main-950 hover:bg-lighter-main-900 rounded w-full p-0">
    <div class="w-full">
        <div class="flex">
            <p class="font-bold text-lg m-2 mr-auto"><%- username %></p>
            <p class="font-bold text-lg m-2 mr-4"><%- since %></p>
        </div>
        <p class="m-2"><%- edit_text %> <strong><%- song_name %></strong></p>
        <div class="flex ml-2">
            <div id="add-action-<%- id %>-notification-pending" class="mb-2 <% if (action_status!=="Pending") { %>hidden<% } %> inline-block mr-auto bg-main-700/50 border border-main-200 p-1 rounded-lg text-main-200">
                Request is pending...
            </div>
            <div id="add-action-<%- id %>-notification-accepted" class="mb-2 <% if (action_status!=="Accepted") { %>hidden<% } %> inline-block mr-auto bg-green-500/10 border border-green-300 p-1 rounded-lg text-green-300">
                Request has been accepted.
            </div>
            <div id="add-action-<%- id %>-notification-declined" class="mb-2 <% if (action_status!=="Declined") { %>hidden<% } %> inline-block mr-auto bg-red-500/10 border border-red-300 p-1 rounded-lg text-red-300">
                Request has been declined.
            </div>
        </div>
    </div>
</a>