<div id="relation-<%- id %>" class="grid grid-cols-ost-list items-center bg-main-800 hover:bg-lighter-main-800 transition transition-colors p-1 m-2 rounded">
    <img class="border-lg aspect-square object-cover w-20 rounded-lg p-1" src="<%- medium %>">
    <div>
        <h1 id="relation-show-name" class="text-xl font-medium text-black dark:text-white"><%- native %></h1>
        <h1 id="relation-show-alt-name"  class="text-xl font-medium text-main-300"><%- preferred %></h1>
    </div>
    <div class="flex">
        <select onclick="updateRelationType(<%- id %>, this)" id="relation-<%- id %>-type" class="flex bg-main-800 hover:bg-lighter-main-800 rounded px-2 m-2 flex font-bold text-lg">
            <option>Opening</option>
            <option>Ending</option>
            <option>Insert</option>
        </select>
        <input onchange="updateRelationNumber(<%- id %>, this)" id="relation-<%- id %>-number" type="number" class="base-input mr-2 w-20" value="1" autocomplete="off">
        <button onclick="removeRelation(<%- id %>)" class="ml-auto">
            <svg xmlns="http://www.w3.org/2000/svg" class="w-6 dark:fill-red-500 mr-1" viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"/></svg>
        </button>
    </div>
</div>