<a href="/ost/<%- id %>">
    <div class="w-full grid grid-cols-main-list bg-lighter-main-950 hover:bg-main-800 mt-0 items-center transition transition-colors">
        <div class="p-2 pb-0"><strong>#<%- index %></strong></div>
        <div class="p-2 pb-0 h-20"><img class="border-lg aspect-square object-cover w-16 rounded p-0" src="<%- medium %>"></div>
        <div class="p-2 pb-0"><div><%- main_title %></div><div class="text-main-300 hidden md:block"><%- alternative_title %></div></div>
        <div class="p-2 pb-0"><div><%- name %></div><div class="text-main-300 hidden md:block"><%- alternate_name %></div></div>
        <div class="p-2 pb-0"><%- rating %></div>
        <div class="p-2 pb-0"><%- type %></div>
    </div>
</a>